// *
.synopsys__container,
.credits__container,
.videos__container,
.similar__container {
  width: 70%;
  grid-area: bottom;
  margin: 0 auto;
}

// synopsys
.synopsys__container {
  overflow: hidden;

  > article {
    // h2 전체스타일
    margin: 0 0 50px;
    h2 {
      margin: 0 0 20px;
    }
  }
  .about {
    > h2 {
      font-size: 2rem;
      margin-bottom: 32px;
    }
    > p {
      width: 50%;
    }
  }
  .credits {
    ul {
      display: flex;
      justify-content: flex-start;
    }
  }
  .videos {
    > article {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      iframe {
        // width: 100%;
        border-radius: 10px;
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  .similar {
    > ul {
      display: flex;
      justify-content: flex-start;
      gap: 16px;
      img {
        max-width: 200px;
        width: 100%;
      }
    }
  }
}

// credits
.credits__container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, auto));
  justify-content: space-between;
  box-sizing: border-box;
  .card {
    padding: 24px;
    margin: 8px;
    background-color: #2d2d2d;
    border-radius: 15px;

    img {
      width: 100%;
      height: 100%;
    }
    .name {
      font-size: 16px;
    }
  }
}

// video
.videos__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 100px;

  iframe {
    width: 100%;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    margin: 0 auto;
    &:hover {
      opacity: 1;
    }
  }
}

// similar
.similar__container {
}
