.container {
  width: 70%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a c c c c c c c"
                       "a c c c c c c c"
                       "a c c c c c c c"
                       "b b b b b b b b"
                       "d d d d d d d d";
  gap: 50px;
}
