.poster {
  // max-width: 400px;
  width: 100%;
  grid-area: poster;
  border-radius: 20px;
  transition: opacity .1s ease-in-out;
  &:hover {
    opacity: .9;
  }
}

.poster img {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  border-radius: 7%;
  filter: drop-shadow(2px -1px 4rem rgba(255, 255, 255, .1));
}