.skeleton_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 250px));
    justify-content: space-evenly;
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 50px auto;
    section {
      display: grid;
      grid-template-rows: 1fr auto;
      gap: 20px;
      place-items: center;
      margin: 0 auto;
      
      $skeleton_color: #71717130;
      .skeleton_img {
        width: 250px;
        height: 375px;
        border-radius: 10px;
        background-color: $skeleton_color;
      }
      .skeleton_title {
        width: 150px;
        height: 18px;
        border-radius: 10px;
        background-color: $skeleton_color;
      }
    }
}
