.container {
  width: 70%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "a b"
                       "a c"
                       "a c"
                       "a c"
                       "d d";
  gap: 50px;
}
