.nav {
  position: fixed;
  top: 24px;
  left: 3%;
  z-index: 10;
  // opacity: .8;
  a {
    display: block;
    padding: 24px;
    svg {
      font-size: 24px;
    }
  }
  &:hover {
    // transform: scale(1.05);
    // opacity: 1;
  }
}